/*
UPPMAX iGenomes for Cluster Flow
-------------------
Genome paths for clusterflow.

These paths are to the centrally held Illumina iGenome references held on
UPPMAX. For more information about iGenomes, see:
http://support.illumina.com/sequencing/sequencing_software/igenome.html

Only the a few of the most common genomes have been added here, to keep things clear.
Feel free to modify this file to add or remove genomes as you need them.
-------------------
*/


/* Human GRCh37 */
@reference	fasta	GRCh37	/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta	Human	GRCh37
@reference	bowtie	GRCh37	/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/BowtieIndex/genome	Human	GRCh37
@reference	bowtie2	GRCh37	/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/Bowtie2Index/genome	Human	GRCh37
@reference	bwa	GRCh37	/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/BWAIndex/genome.fa	Human	GRCh37
@reference	gtf	GRCh37	/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf	Human	GRCh37

/* Mouse GRCm38 */
@reference	fasta	GRCm38	/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta	Mouse	GRCm38
@reference	bowtie	GRCm38	/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/BowtieIndex/genome	Mouse	GRCm38
@reference	bowtie2	GRCm38	/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/Bowtie2Index/genome	Mouse	GRCm38
@reference	bwa	GRCm38	/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/BWAIndex/genome.fa	Mouse	GRCm38
@reference	gtf	GRCm38	/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf	Mouse	GRCm38

/* Drosophila BDGP5.25 */
@reference	fasta	BDGP5.25	/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP5.25/Sequence/WholeGenomeFasta	Drosophila	BDGP5.25
@reference	bowtie	BDGP5.25	/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP5.25/Sequence/BowtieIndex/genome	Drosophila	BDGP5.25
@reference	bowtie2	BDGP5.25	/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP5.25/Sequence/Bowtie2Index/genome	Drosophila	BDGP5.25
@reference	bwa	BDGP5.25	/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP5.25/Sequence/BWAIndex/genome.fa	Drosophila	BDGP5.25
@reference	gtf	BDGP5.25	/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP5.25/Annotation/Genes/genes.gtf	Drosophila	BDGP5.25
